* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a4aca4d5;
    font-family: 'Roboto';
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 10px;
    min-height: 700px;
    border: 2px solid black;
    box-shadow: inset 0px 0px 13px 4px rgba(0, 0, 0, 1);
}

.addbtn,
.removebtn,
.clearAllbtn {
    width: 250px;
    font-size: 2rem;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    margin: 5px auto;
    background-color: white;
    cursor: pointer;
}

.addbtn:hover,
.removebtn:hover,
.clearAllbtn:hover {
    background-color: cadetblue
}

.addbtn {
    margin-top: 30px;
}

.clearAllbtn {
    margin-bottom: 40px;
}

.clearAllbtn:active {
    background-color: red;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

h3,
.addTask {
    margin: 0px auto 8px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}
